.storetail-id-__PLACEHOLDER__ {
    border: 1px solid #0E3368;
    width: 100%;
    height: 470px;
}

.storetail-id-__PLACEHOLDER__ .sto-vignette {
  height: calc(100% + 1px);
  background-image: __VIGNETTE_IMG__;
  float: left;
  margin-left: -1px;
  margin-top: -1px;
  border-left: 1px solid #0E3368;
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
  /* background-size: 100%; */
  background-color: __BG_COLOR__;
}

.storetail-id-__PLACEHOLDER__ .sto-tetiere {
  position: absolute;
}

.storetail-id-__PLACEHOLDER__ .sto-tetiere {
  position: absolute;
}


.storetail-id-__PLACEHOLDER__ .sto-products-container {
  display: flex;
  float: right;
  height: 100%;
  margin-right: -1px;
}

.storetail-id-__PLACEHOLDER__ .sto-products-container .product-card {
  height: calc(100% - 1px);
  border-bottom: none;
}

/*.storetail-id-__PLACEHOLDER__[data-count="1"] .sto-products-container .product-card:nth-of-type(2),
.storetail-id-__PLACEHOLDER__[data-count="1"] .sto-products-container .product-card:nth-of-type(3),
.storetail-id-__PLACEHOLDER__[data-count="1"] .sto-products-container .product-card:nth-of-type(4) {
  display: none;
}

.storetail-id-__PLACEHOLDER__[data-count="2"] .sto-products-container .product-card:nth-of-type(3),
.storetail-id-__PLACEHOLDER__[data-count="2"] .sto-products-container .product-card:nth-of-type(4) {
  display: none;
}

.storetail-id-__PLACEHOLDER__[data-count="3"] .sto-products-container .product-card:nth-of-type(4) {
  display: none;
}*/


.storetail-id-__PLACEHOLDER__[data-count="1"] .sto-products-container .product-card:nth-child(n+2),
.storetail-id-__PLACEHOLDER__[data-count="2"] .sto-products-container .product-card:nth-child(n+3),
.storetail-id-__PLACEHOLDER__[data-count="3"] .sto-products-container .product-card:nth-child(n+4),
.storetail-id-__PLACEHOLDER__[data-count="4"] .sto-products-container .product-card:nth-child(n+5){
  display: none;
}


.storetail-id-__PLACEHOLDER__[data-count="1"] .sto-products-container .product-card:nth-of-type(1) {
  border-right: 1px solid #0E3368;
}

.storetail-id-__PLACEHOLDER__[data-count="2"] .sto-products-container .product-card:nth-of-type(2) {
  border-right: 1px solid #0E3368;
}

.storetail-id-__PLACEHOLDER__[data-count="3"] .sto-products-container .product-card:nth-of-type(3) {
  border-right: 1px solid #0E3368;
}

.storetail-id-__PLACEHOLDER__ .sto-products-container .product-card:last-of-type {
  border-right: 1px solid #0E3368;
}



 /* CTA */
 .storetail-id-__PLACEHOLDER__ .sto-vignette .sto-cta {
   position: absolute;
   width: 100%;
   height: 40px;
   left: 0px;
   bottom: 1.125rem;
   /* -webkit-transform: translateY(-50%) translateX(-50%);
   -moz-transform: translateY(-50%) translateX(-50%);
   -ms-transform: translateY(-50%) translateX(-50%);
   -o-transform: translateY(-50%) translateX(-50%);
   transform: translateY(-50%) translateX(-50%); */
   text-align: center;
   line-height: 1;
   max-width: 100%;
   /* background-image: __CTA_BG__;
   background-position: center;
   background-repeat: no-repeat; */
 }

 .storetail-id-__PLACEHOLDER__ .sto-vignette .sto-cta .sto-options-cta {
    background-color: __CTA_BG_COLOR__;
    color: __CTA_COLOR__;
    height: 40px;
    width: auto;
    display: inline-block;
    background: #fff;
    line-height: 40px;
    padding: 0 1.5rem;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    letter-spacing: .5px;
    text-transform: uppercase;
 }

.sto-video {
    position: fixed;
    background-color: whitesmoke;
    min-height: 200px;
    min-width: 200px;
    top: 250px;
    margin-left: 50%;
    z-index: 10001;
    padding: 40px 10px 20px 10px;
    border-radius: 10px;
    transform: translateX(-50%);
  }

  .sto-ecran {
    position: fixed;
    background-color: #666161;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    opacity: .5;
  }

  .sto-close {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 4px;
    top: 4px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .sto-close::before, .sto-close::after {
    content: "";
    position: absolute;
    background-color: #0E3368;
    width: 2px;
    height: 20px;
    left: 50%;
    top: 50%;
  }

  .sto-close::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .sto-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }


@media(max-width:1023px){
  .storetail-id-__PLACEHOLDER__{
    display: none!important;
  }
}

@media(max-width:598px){
  .storetail-id-__PLACEHOLDER__ {
    display: none;
  }
}
